@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0e1014;
  color: #e4e5ea;
  font-family: 'Inter', sans-serif;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.mobile {
  display: none;
}
.circle-1 {
  z-index: -1;
  position: absolute;
  height: 83px;
  width: 83px;
  border-radius: 50%;
  left: 603px;
  top: 90px;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%
  );
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}
.circle-2 {
  z-index: -1;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 940px;
  top: -2px;
  border-radius: 50%;
  background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.208) 78.59%,
      rgba(86, 24, 128, 0.232) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}
.circle-3 {
  z-index: -1;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 903px;
  top: 547px;

  background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.48) 0%,
      rgba(212, 93, 93, 0.248) 59.67%,
      rgba(167, 49, 49, 0.264) 78.59%,
      rgba(130, 25, 25, 0.232) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}
.circle-4 {
  z-index: -1;
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  border-radius: 50%;
  background: #833ab4;
  opacity: 0.5;
  filter: blur(196px);
}
.circle-5 {
  z-index: -1;
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  border-radius: 50%;
  background: #961a1a;
  opacity: 0.5;
  filter: blur(196px);
}
.header-wrapper,
.main-wrapper,
.footer-wrapper {
  padding: 0 16px;
}
.footer-wrapper {
  margin-bottom: 20px;
}
.header {
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
}
.logo p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  margin-top: 6px;
}
.nav__list {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin-left: -102px;
  margin-top: 5px;
}
.nav__item {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.nav__item a {
  text-decoration: none;
  color: #e4e5ea;
}
.contacts__list {
  display: flex;
  list-style-type: none;
  gap: 34px;
}
.contacts__item {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.contacts__item:first-child {
  transform: translateX(-13px);
}
.contacts__list {
  margin-top: 5px;
}
.main {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  height: calc(100vh - 136px);
}
.main__title {
  margin-top: -5px;
  margin-left: -3px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}
.main__title span {
  background: -webkit-linear-gradient(#fcb045, #ff3f78);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.left p {
  margin-top: 30px;
  margin-left: -1px;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 22px;
}
.consultation {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.consultation h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: right;
}
.consultation h2 span {
  background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
}
.consultation__list {
  margin-top: 40px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.consultation__item {
  text-align: right;
}
.consultation__item h3 {
  text-transform: uppercase;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 18px;
}
.consultation__item p {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
}
.consultation__btn {
  margin-top: 61px;
  background: #4077f3;
  text-decoration: none;
  color: #e4e5ea;
  padding: 21px 34px;
  font-size: 16px;
  font-weight: 500;
  width: 262px;
  height: 61px;
  align-self: flex-end;
  cursor: pointer;
}
.footer__main {
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
}
.footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #656566;
  margin-bottom: 20px;
}
.footer ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.footer ul li {
  font-weight: 400;
  font-size: 16px;
}
.footer ul li a {
  text-decoration: none;
  color: #e4e5ea;
}
.footer__menu {
  margin-left: -39px;
}
.footer__menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer__menu ul li:nth-child(even) {
  transform: translateX(-27px);
}
.footer__contacts {
  text-align: right;
}
.footer__socials {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.footer__contacts ul {
  gap: 21px;
}
.license {
  margin-top: 31px;
  display: flex;
  justify-content: flex-end;
}
.license__content p {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  margin-bottom: 5px;
}
.license__content p:last-child {
  text-decoration: underline;
}

@media screen and (max-width: 1030px) {
  .left p {
    margin-left: 0;
  }
  .nav__list {
    margin-left: 0;
  }
  .main__title {
    margin-left: 0;
  }
  .footer__menu {
    margin-left: 0;
  }
  .footer__menu ul li:nth-child(even) {
    transform: translateX(0);
  }
  .contacts__item:first-child {
    transform: translateX(0);
  }
  .circle-4 {
    left: 0;
    top: 0;
  }
  .nav__list {
    gap: 20px;
  }
  .nav__item {
    font-size: 14px;
  }
  .contacts__list {
    gap: 20px;
  }
  .consultation__list {
    gap: 20px;
  }
  .circle-1 {
    left: 15%;
    top: 10%;
  }
  .circle-2 {
    left: 65%;
    top: 65%;
  }
  .circle-3 {
    left: 40%;
    top: 80%;
  }
}

@media screen and (max-width: 864px) {
  .header {
    padding-top: 30px;
  }
  .main {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .main * {
    text-align: center;
  }
  .contacts {
    display: none;
  }
  .footer__main {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 30px;
  }
  .footer * {
    text-align: center;
    align-self: center;
  }
  .main__title {
    font-size: 36px;
  }
  .footer__menu ul {
    display: flex;
    flex-direction: column;
  }
  .consultation h2 {
    text-align: center;
    margin-top: 20px;
  }
  .consultation h2 span {
    text-transform: lowercase;
  }
  .consultation__list {
    margin-top: 10px;
  }
}

@media screen and (max-width: 640px) {
  .logo,
  .contacts {
    display: none;
  }
  .main__title {
    text-align: left;
    line-height: 43px;
    margin-bottom: 15px;
  }
  .header {
    padding: 0;
    height: 0;
  }
  .left p {
    margin-top: 15px;
    text-align: left;
    margin-bottom: 45px;
  }
  .consultation h2 {
    text-align: left;
  }
  .consultation__item h3,
  .consultation__item p {
    display: none;
  }
  .mobile {
    position: relative;
    font-size: 13px;
    font-weight: 400;
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: left;
  }
  .line {
    position: absolute;
    display: inline-block;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 2px;
    background: linear-gradient(#fcb045, #fd1d1d);
  }
  .main {
    padding-top: 95px;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0e1014;
    height: 55px;
    padding: 20px;
    z-index: 1;
  }
  .main-wrapper {
    padding-bottom: 59px;
  }
  .footer-wrapper {
    padding-bottom: 30px;
    background-color: #0e1014;
  }
  .consultation__btn {
    display: none;
  }
  .nav__list {
    gap: 16px;
    justify-content: center;
  }
  .nav__item a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .nav__item:last-child {
    display: none;
  }
  .footer__main {
    padding-top: 45px;
    margin-bottom: 0;
  }
  .footer div {
    margin-bottom: 30px;
    align-self: flex-start;
  }
  .footer h3 {
    font-size: 12px;
    font-weight: 700;
    text-align: left;
  }
  .footer ul li a {
    font-size: 14px;
  }
  .footer ul li {
    align-self: flex-start;
  }
  .footer__menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
  }
  .footer__menu ul li {
    text-align: left;
  }
  .footer__contacts > ul > li a {
    font-size: 16px;
  }
  .footer__socials a img {
    width: 24px;
    height: 24px;
  }
}
